
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'DM Sans', sans-serif;
}

/* BODY */

body{
background:hsl(0,0%,96%);
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding:40px;
}

/* GRID */

.bento-grid{
display:grid;
gap:26px;
max-width:1200px;
width:100%;

grid-template-columns:repeat(4,1fr);

grid-template-areas:

"create hero hero schedule"
"create platforms maintain schedule"
"ai audience followers followers";
}

/* CARDS */

.card{
background:white;
padding: 25px;
border-radius:16px;
display:flex;
flex-direction:column;
justify-content:space-around;
gap:18px;
box-shadow:0 10px 20px rgba(0,0,0,0.05);
}

/* IMAGENS */

.card img{
max-width:100%;
height:auto;
}

/* CORES */

.purple-500{
background:hsl(256,67%,59%);
color:white;

}

.yellow-100{
background:hsl(31,66%,93%);
}

.purple2-100{
background:hsl(254,88%,90%);
}

.yellow1-100{
background:hsl(39,100%,71%);
}

.yellow-text{
color:hsl(39,100%,71%);
}

.italic{
font-style:italic;
color:#6F52D9;
}

/* GRID AREAS */

#create-content{
grid-area:create;
font-size: x-large;
padding-bottom: 85%;
height: 450px;
border-radius: 10px;

}

#hero{
grid-area:hero;
align-items:center;
margin: auto;
padding: 0;
width: 80%;
height:100%;
}

#hero h1{
  font-size: 50px;
  text-align: center;
  padding: 10% 0% 0% 0%;
  
}

#hero img{
width: 200px;
margin: auto;
padding: 0% 0% 0% 0%;
  
}

#hero p {
text-align: center;
padding: 0% 0% 10% 0%;
}

#schedule {
grid-area:schedule;
height: 600px;
padding: 2px 0px 8px 0px;

}

#schedule h2 {
font-size: 30px;
text-align: center;

}

#schedule img {
width: 100%;
padding:  8px 5px 8px 5px;

}

#schedule p {
padding:  0px 10px 50px 10px;

}

#platforms {
grid-area:platforms;

}

#maintain {
grid-area:maintain;

}

#ai-content{
grid-area:ai;
}

#audience {
grid-area:audience;
text-align:center;
font-size: 30px;

}

#audience h2 {
  font-size: 100px;
}

#grow-followers{
grid-area:followers;
}

/* FOOTER */

.attribution{
margin-top:auto;
font-size:12px;
text-align:center;
padding-top:40px;
}

.attribution a{
color:#3e52a3;
}

/* RESPONSIVO */

@media (max-width:900px){

.bento-grid{

grid-template-columns:1fr;

grid-template-areas:

"hero"
"platforms"
"maintain"
"schedule"
"followers"
"audience"
"create"
"ai";

}

}

