@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');

/* Reset básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background: hsl(0, 0%, 96%);
  padding: 40px;
  display: flex;
  justify-content: center;
}
  
  /* Grid principal */

  .bento-grid {
    display: grid;
    gap: 24px;
    max-width: 1200px;

    /*4 colunas*/
    grid-template-columns: repeat(4,1fr);

    /* layout do desafio */
    grid-template-areas:

    "create hero hero schedule" 
    "create platforms maintain schedule" 
    "ai audience followers followers"; 
  }

  /* Cards */

  .card {

    background: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
  }

   /* imagens */

   .card img {
    max-width: 100%;
    height: auto;
   }

   /* cores */

   .purple-100 {
    background: hsl(254, 88%, 90%);
   }

   .purple-500{
    background: hsl(256, 67%, 59%);
    color: white;
   }